*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    height: 100vh;
    background-color: rgb(39, 41, 120);
    font-family: sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.mainTitle h1{
    align-items: center;
    justify-content: space-around;
    display: flex;
    color: rgb(236, 236, 236);
    font-size: 50px;
    padding-top: 20px;
    transition: opacity 0.5s ease;
}

.task p{
    align-items: center;
    justify-content: space-around;
    display: flex;
    color: rgb(236, 236, 236);
    font-size: 120px;
    padding-top: 250px;
    padding-bottom: 80px;
    transition: opacity 0.5s ease;
}

.randomBtn button{
    width: 150px;
    height: 50px;
    background: none;
    border: none;
    color: rgb(236, 236, 236);
    background-color: rgb(45, 117, 96);
    border-radius: 5%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;    
}

